<div class='graphic'>
    <table class="pretty-table normal rwd-table">
        <thead>
            <th data-key="Sector" class="column-type-string sector">Sector</th>
            <th data-key="Jobs" class="column-type-number ">Jobs</th>
            <th data-key="% of Region" class="column-type-number ">% of Regional economy</th>
            <th data-key="% of MT" class="column-type-number ">% of MT</th>
        </thead>
        <tbody>
             <tr>
                <td data-th="Sector" style="background:#888;">TOTAL</td>
                <td data-th="Jobs" class="cell-type-number">669,432</td>
                <td data-th="% of Regional economy" class="cell-type-number">100.0%</td>
                <td data-th="% of MT economy" class="cell-type-number">100.0%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#7570b3;">MANUFACTURING</td>
                <td data-th="Jobs"class="cell-type-number">23,896</td>
                <td data-th="% of Regional economy" class="cell-type-number">3.6%</td>
                <td data-th="% of MT economy"class="cell-type-number">3.6%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#d95f02;">CONSTRUCTION</td>
                <td data-th="Jobs"class="cell-type-number">45,188</td>
                <td data-th="% of Regional economy" class="cell-type-number">6.8%</td>
                <td data-th="% of MT economy"class="cell-type-number">6.8%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#1b9e77;">NATURAL RESOURCES</td>
                <td data-th="Jobs"class="cell-type-number">53,565</td>
                <td data-th="% of Regional economy" class="cell-type-number">8.0%</td>
                <td data-th="% of MT economy"class="cell-type-number">8.0%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#e6ab02;">HEALTHCARE</td>
                <td data-th="Jobs"class="cell-type-number">75,356</td>
                <td data-th="% of Regional economy" class="cell-type-number">11.3%</td>
                <td data-th="% of MT economy"class="cell-type-number">11.3%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#a6761d;">GOVERNMENT</td>
                <td data-th="Jobs"class="cell-type-number">96,382</td>
                <td data-th="% of Regional economy" class="cell-type-number">14.4%</td>
                <td data-th="% of MT economy"class="cell-type-number">14.4%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#e7298a;">TRADE</td>
                <td data-th="Jobs"class="cell-type-number">117,481</td>
                <td data-th="% of Regional economy" class="cell-type-number">17.5%</td>
                <td data-th="% of MT economy"class="cell-type-number">17.5%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#66a61e;">SERVICES</td>
                <td data-th="Jobs"class="cell-type-number">257,564</td>
                <td data-th="% of Regional economy" class="cell-type-number">38.5%</td>
                <td data-th="% of MT economy"class="cell-type-number">38.5%</td>
            </tr>
            <tr>
                <td data-th="Sector" style="background:#888;">OTHER</td>
                <td data-th="Jobs" class="cell-type-number">0</td>
                <td data-th="% of Regional economy" class="cell-type-number">0.0%</td>
                <td data-th="% of MT economy"class="cell-type-number">0.0%</td>
            </tr>

        </tbody>
    </table>
</div>