<section id='scroller'>
	<div class='scrolly tk-atlas'>
	
		<figure class='sticky'>
			<div class='figure-container active' id='graphic-1'>
				{{> story/graphic-1}}
			</div>
			<div class='figure-container' id='graphic-2'>
				{{> story/graphic-2}}
			</div>
			<div class='figure-container' id='graphic-table'>
				{{> story/graphic-table}}
			</div>
			<div class='figure-container' id='graphic-3'>
				{{> story/graphic-3}}
			</div>
				
		</figure>

		<article>
			{{#each copy.scroller-steps}}
				<div class='step' data-index='{{@index}}'
					data-graphic='{{graphic}}'
					data-graphic-index='{{graphic-index}}'
					>
					<p>{{step}}</p>
				</div>
			{{/each}}
		</article>

	</div>
</section>